# Exclude all files and directories that are not needed for building the Docker image
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env
build
develop-eggs
dist
downloads
eggs
.parts
sdist
var
wheels
pip-wheel-metadata
instance
.webassets-cache
.venv
env.bak
venv.bak
node_modules
npm-debug.log
.dockerignore
.git
.gitignore
.hg
.svn
.vscode
*.code-workspace
.idea
*.swp
*.bak
*.tmp
temp/
tmp/
*.log
notebooks/
docs/
secrets/
!secrets/.gitkeep
*.md
!README.md
Dockerfile
!docker/Dockerfile
requirements.txt
!docker/requirements.txt